/* @override http://0.0.0.0:3000/stylesheets/good_forms.css */

/* basic styles */
/* form styles */

form.af_form {
	width: 590px;
	text-align: left;
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.af_form fieldset {
	margin: 0;
	border: 0;
	padding: 0;
	float: left;
	clear: left;
}

.af_form legend {
	display: none;
}

.af_form em.note {
	font-size: 11px;
	line-height: 15px;
	color: green;
}

form.af_form h3 {
	clear: both;
	padding: 5px 0px 10px 0px;
	font-size: 14px;
}

.af_form fieldset.radio_button_set {
	margin: 10px 0;
	border: 0;
	padding: 0;
	float: left;
	clear: left;
}
.af_form fieldset.radio_button_set legend {
	display: block;
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: none;
	color: #444444;
}
.af_form fieldset.radio_button_set legend:after {
	content: ": ";
}

form.af_form label {
	display: block;
	width: 590px;
	padding: 0px 0px 12px 0px;
	color: #444444;
}


form.af_form input[type="text"], form.af_form input[type="password"] {
	display: block;
	margin-top: 3px;
	font: 13px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border: 1px solid grey;
}

form.af_form select {
	float: left;
	display: block;
}

form.af_form label.text_field {
	clear: left;
}


form label.field-state {
	float: left;
	margin-right: 10px;
	width: 60px;
}

form label.field-state select {
	width: 60px;
	float: left;
	margin-top: 3px;
}
form.af_form label.radio_button,
form.af_form label.check_box {
	clear: none;
	margin: 0px 0px 0px 25px;
	padding: 10px 0px 0px 0px;
}

form.af_form input[type="radio"] {
	clear: left;
	float: left;
	padding: 0px;
	margin: 13px 0px 0px 0px;
}

form.af_form textarea {
	display: block;
}

form.af_form input[type="checkbox"] {
	clear: both;
	float: left;
	padding: 0px;
	margin: 0px;
}


form.af_form textarea {
	margin-top: 3px;
}

form.af_form input[type="hidden] {
	display:none !important;
}

